
/* ################### Variables ################### */

:root {
    --hover: rgb(255, 221, 159);
    --hover2: rgb(61, 230, 159);
    --hover3: rgb(85, 47, 255);
    --font-parag: 'Roboto', sans-serif;
    --transitions: all 0.3s ease 0s;
    --transitions2: all 0.3s ease 0.2s;
}

/* ################### General ################### */

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.09rem;
}

p, a, em, strong, i, b, small, sup, sub, h1, h2, h3, h4, h5, h6, button, span, input {
    font-family: var(--font-parag);
}

main {
    padding-top: 50px;
}

/* ################### Formularios ################### */

form {
    padding: 30px 0;
}

    label {
        color: #222;
    }

    .entrada:focus{
        outline: none !important;
        border-color: var(--hover3);
        box-shadow: 0 0 10px rgba(85, 47, 255, 0.5);
    }

    form .boton {
        background-color: #222;
        border-color: 0px solid var(--hover3);
        color: white;
        outline: none !important;
        padding: 6px 20px;
        transition: var(--transitions);
    }

        form .boton:hover {
            background-color: var(--hover3);
            border-color: 1px solid var(--hover3);
            color: white;
            outline: none !important;
            transition: var(--transitions);
        }

/* ################### Nav ################### */


nav ul li a {
    color: white;
    font-family: var(--font-parag);
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transitions);
}

nav ul li:hover a {
    color: var(--hover2);
}

