

:root{
    --font-play: 'Playfair Display', serif;
    --font-roboto: 'Roboto Slab', serif;
}

*{
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, caption{
    font-family: var(--font-roboto);
}

p, em, strong, sup, sub, del, ins, a, i, b, blockquote{
    font-family: var(--font-play);
}

#container{
    width: 100%;
}

main#main{
    padding: 5vh 0;
    width: 90%;
}

header div.portada_cuento{
    background-color: rgb(184, 255, 255);
    background-image: url(../img/rastro.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 300px;
    width: 100%;
}