
:root{
 --header-align: center;
 --titulo-ppal: rgb(52, 0, 196);
 --titulo-sec: rgb(107, 75, 180);
 --subtitulo-ppal: rgb(159, 144, 214)(228, 28, 28);
 --contenido: rgb(61, 47, 255);
 --enlaces: rgb(38, 23, 102);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif', Tahoma;
}

p, sup, sub, a, table{
    font-family: 'Roboto', Georgia;
}

h1{
    color: var(--titulo-ppal);
    font-size: 2.8rem;
}

h2{
    color: val(--titulo-sec)
font-size: 2rem;
}

h3{
    color: var(--subtitulo-ppal);
    font-size: 1.7rem;
}

p{
    font-size: 1.1rem;
}

sup, a{
    color: val(--contenido);
}

a{
    color: val(--enlaces);
    text-decoration: none;
}

ol, ul{
    list-style: none;
}

.psecundario{
    font-family: 'Arial';
    font-size: 0.9rem;
    color: val(--contenido);
}

body{
    background-color: rgb(255, 236, 200);
    background-image: url(../img/pattern.jpg);
    background-repeat:no-repeat;
    background-size: ;
    padding-top: 30px;
}

nav{
    background-color: white;
    height: 60px;
    position: fixed;
    top: -15px;
    width: 100%;
}

    nav ul{
        height: 100%;
        /* background-color: grey; */
    }

        nav ul li{
            box-sizing: border-box;
            display: inline-block;
            padding: 12px 0 7px 0;
            text-align: center;
            width: 24%;
        }

            nav ul li a{
                /* background-color: red; */
                border: 1px solid rgb(206, 206, 206);
                border-radius: 7px;
                display: block;
                height: 100%;
                width: 70%;
            }
            
                nav ul li:hover a{
                    background-color: black;
                    color: white;
                }

header{
    text-align: center;
}

.table{
    align-content: center;
    display: flex;
    justify-content: space-around;
}
    table, th, tr, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, tr, td{
        padding: 12px;
    }

        table caption{
            font-weight: 800;
            font-size: 1.8rem;
        }
        
        table tr:nth-child(1) th, table tfoot>tr{
            background-color: grey;
        }

        table tr:nth-child(2){
            background-color: rgb(148, 239, 255);
        }