@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart store</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a la tienda inteligente</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas, penatibus nullam eros rhoncus tempor massa fames proin eu, nulla laoreet rutrum habitasse tristique donec duis. Consequat ad praesent eros nisi sed nulla posuere convallis, sociosqu curae interdum condimentum vivamus habitant malesuada tempor sagittis, conubia venenatis dignissim parturient placerat nam quisque. Eros conubia enim purus faucibus morbi curabitur integer eleifend cum, himenaeos senectus penatibus scelerisque nec velit massa cubilia, torquent risus nullam interdum potenti a pretium lectus.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Descuentos inteligentes</h2>
        <p>Fringilla eleifend leo malesuada dignissim pharetra himenaeos nam tortor senectus eget, ornare donec etiam in porta luctus dictum gravida facilisis.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Conocer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descarga la aplicación</h2>
        <p>Erat nulla ac dignissim integer morbi senectus lacinia nunc et, a mauris dis quam vestibulum ullamcorper at molestie imperdiet etiam, euismod enim cras eu aliquet.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Descarga&raquo;</a></p>
    </div>
</div>