:root{
    --transitions2: all 0.3s ease 0.3s;
    --transitions3: all 0.5s ease 0s;
    --hover: rgb(255, 221, 159);
    --hover2: rgb(61, 230, 159);
    --hover3: rgba(85, 47, 255, 1);
    --hover4: rgba(255, 0, 55, 1);
    --font-parag: 'Roboto', sans-serif;
}

header#header{
    background-color: #222;
    background-image: url(../img/header5.jpg);
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: cover;
}

header#header::before{
    content: "";
}

    header#header .box{
        height: 300px;
        width: 100%;
    }

    header#header h4{
        box-sizing: border-box;
        padding-top: 200px;
    }

    header#header h4, header#header p{
        color: #222;
    }

main#main{
    padding: 30px 0;
}

    main#main .card .boton_delete{
        /* background-color: rgba(255,255,255,1); */
        border-radius: 50%;
        box-sizing: border-box;
        bottom: 180px;
        color: #222;
        cursor: pointer;
        font-size: 2.2em;
        font-weight: 300;
        height: 50px;
        padding: 8px 0 0 2px;
        position: absolute;
        right: 14px;
        text-align: center;
        transition: var(--transitions3);
        width: 50px;
        z-index: 999;
    }

    main#main .card .boton_delete:hover{
        /* background-color: var(--hover4); */
        color: white;
    }

        main#main .card .boton_delete::after{
            background-color: white;
            border-radius: 50%;
            box-shadow: 1px 1px 7px rgba(34, 34, 34, 1);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: scale(1);
            transition: var(--transitions3);
            width: 100%;
            z-index: -1;
        }

        main#main .card .boton_delete:hover::after{
            background-color: var(--hover4);
            transform: scale(1.1);
        }

        main#main .card .boton_delete::before{
            background-color: white;
            border-radius: 2px;
            color: #222;
            content: "borrar registro";
            font-size: 0.8rem;
            height: 7px;
            left: 0;
            padding: 15px;
            position: absolute;
            top: 0;
            transition: var(--transitions3);
            width: 70px;
            z-index: -999;
        }

        main#main .card .boton_delete::before{
            background-color: white;
            border-radius: 3px;
            color: #222;
            content: "delete";
            font-family: var(--font-parag);
            font-size: 1rem;
            height: 28px;
            left: 0;
            opacity: 0;
            padding: 7px 12px;
            position: absolute;
            top: 0;
            text-align: center;
            transform: translate(-120%, 40%);
            transition: var(--transitions2);
            z-index: -999;
        }

        main#main .card .boton_delete:hover::before{
            /* transform: translate(-2px,-45px); */
            opacity: 1;
        }

        main#main form{
            padding: 30px 0;
        }

            main#main form label{
                color: #222;
            }

            main#main form input[type="file"]{
                padding: 4px 20px;
            }

            main#main form input:focus, main#main form textarea:focus{
                outline: none !important;
                border-color: var(--hover3);
                box-shadow: 0 0 10px rgba(85, 47, 255, 0.5);
            }

            main#main form button{
                background-color: #222;
                border-color: 0px solid var(--hover3);
                color: white;
                outline: none !important;
                padding: 6px 20px;
                transition: var(--transitions);
            }

            main#main form button:hover{
                background-color: var(--hover3);
                border-color: 1px solid var(--hover3);
                color: white;
                outline: none !important;
                transition: var(--transitions);
            }